.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #dbe8ed;
}

@media (min-width: 768px) {
  .btn {
    width: 52px;
    height: 52px;
    border-radius: 10px;
  }
}
