.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  cursor: pointer;
}

.oWinner {
  background: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
}

.xWinner {
  background: #31c3bd;
  box-shadow: inset 0px -8px 0px #118c87;
}

.img {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .btn {
    width: 140px;
    height: 140px;
    margin: 10px;
    border-radius: 15px;
  }

  .img {
    width: 64px;
    height: 64px;
  }
}
