.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 328px;
  padding-bottom: 64px;
  padding-top: 24px;
}

@media (min-width: 768px) {
  .container {
    width: 457px;
    padding-bottom: 19px;
    padding-top: 201px;
  }
}
