.container {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 52px;
  background: #1f3641;
  box-shadow: inset 0px -4px 0px #10212a;
  border-radius: 10px;
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  user-select: none;
}

.img {
  width: 20px;
  height: 20px;
}

.text {
  height: 20px;
  top: calc(50% - 20px / 2);
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #a8bfc9;
}
